.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Apply background image to the entire app */
body {
  background: url('./images/react-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Dark overlay to improve readability */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Slight dark overlay */
  z-index: -1;
}

/* Navbar Styling */
.navbar {
  background-color: black !important;
}

/* Improve visibility of navbar links */
.navbar-nav .nav-link {
  font-size: 18px;
  color: white !important;
}

/* Center the content */
.container {
  text-align: center;
  padding: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
